@media (min-width: 35em) {
  .wrapper {
    display: flex;
  }
}

.form-elements {
  background-color: var(--clr-white);
  min-height: 50vh;
}

.form_values {
  background-color: var(--clr-gray);
  min-height: 50vh;
}

@media (min-width: 35em) {
  .form-elements,
  .form_values {
    min-height: 100vh;
    width: 50%;
  }
}
