:root {
  --clr-gray: lightgray;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-blue: navy;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--clr-black);
  font-size: 1rem;
}
