:root {
  --clr-white: #ffffff;
  --clr-blue: #1976d2;
  --clr-orange: #f9c333;
  --clr-dark: #2b323a;
  --clr-danger: red;
  --clr-success: green;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--clr-dark);
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
}

input,
select {
  font-family: cursive;
  font-size: 1rem;
}

select {
  outline-color: var(--clr-blue);
}
